.text-primary {
  color: #623C27 !important;
}

.bg-primary {
  background-color: #623C27 !important;
}

.text-secondary {
  color: #C49769 !important;
}

.bg-secondary {
  background-color: #C49769 !important;
}

.section-lg {
  padding: 100px 0;
}

.section-bg-light {
  background-color: #f6ecdf;
}

.section-title {
  font-size: 3rem;
}

.navbar {
  background: rgba(255, 255, 255, 0.85);
}

.navbar .nav-link {
  color: #5a6066;
  font-weight: 650;
}

.navbar .nav-link:hover,
.navbar .nav-link.active {
  color: #623C27;
}

.btn-primary {
  background-color: #623C27;
  color: #fff;
  border: none;
}

.btn-primary:hover {
  background: #fff;
  color: #623C27;
  border: 2px solid #623C27;
}

.footer-nav-link {
  color: #623C27;
  font-weight: 500;
}

.footer-nav-link:hover {
  color: #C49769;
}

.border-primary {
  border-color: #623C27 !important;
}

.border-secondary {
  border-color: #C49769 !important;
}

.section-sm {
  padding: 60px 0px;
}

.section-bg-secondry {
  background-color: #f6ecdf;
}

.section-bg-dark {
  background-color: #623C27;
}

.text-gradiant {
  background: linear-gradient(180deg, rgba(43, 43, 43, 0.9), #c49769);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* --- Card and category styles relevant to markup --- */
.card {
  background-color: #f6ecdf;
}

.card .card-title,
.card .card-amount {
  color: #623C27;
  font-weight: 650;
}

.card.item-card {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.card.item-card .card-text {
  color: #2B2B2B;
}

.category-card .category-img {
  border-radius: 0.5rem;
}

.category-card .category-img .overlay {
  position: absolute;
  top: 100%;
  height: 100%;
  width: 100%;
  background-color: rgba(43, 43, 43, 0.7);
  transform: translateY(100%);
  transition: all 0.5s linear;
  z-index: 1;
}

.category-card .category-img:hover .overlay {
  top: 0%;
  transform: translateY(0%);
}

.category-card .category-img .img-text {
  position: absolute;
  top: 100%;
  left: 50%;
  transition: all 0.5s linear;
  z-index: 2;
  transform: translateX(-50%);
}

.category-card .category-img:hover .img-text {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
}

.gallery-card {
  transition: all 1s ease;
}

.gallery-card .gallery-img {
  border-radius: 0.5rem;
}

.gallery-card:hover {
  scale: 0.9;
}

.gallery-card .gallery-img .overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  background-color: rgba(43, 43, 43, 0.5);
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  width: 0;
  height: 0;
  transition: all 1s ease;
}

.gallery-card:hover .overlay {
  height: 100%;
  width: 100%;
  opacity: 1;
  z-index: 1;
}

.gallery-card .gallery-img .img-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 1s ease;
}

.gallery-card:hover .img-text {
  opacity: 1;
  z-index: 2;
}

/* --- Utilities for Swiper --- */
.swiper.category-swiper .swiper-pagination .swiper-pagination-bullet {
  background-color: #623C27 !important;
}

.swiper.testimonial-swiper .swiper-pagination .swiper-pagination-bullet {
  background-color: #e2d9c8;
}

/* --- Button and forms --- */
.btn {
  font-family: "Quicksand", sans-serif;
  padding: 0.625rem 1.25rem;
  font-weight: 650;
}

.btn.btn-sm {
  padding: 0.425rem 1.05rem;
}

.btn.btn-outline {
  color: #C49769;
  background-color: transparent;
  border: 2px solid #C49769;
}

.btn.btn-outline:hover {
  background-color: #C49769;
  border: 2px solid #C49769;
  color: #623C27;
}

.btn.btn-custom {
  background-color: #C49769;
  border: 2px solid transparent;
  color: #623C27;
  padding: 10px 20px;
}

.btn.btn-custom:hover {
  color: #C49769;
  border: 2px solid #C49769;
  background-color: transparent;
}

form .form-control,
form .form-select {
  border: 1px solid #C49769;
  border-radius: 0.5rem;
  padding: 12px 15px;
  background-color: transparent;
}

form .form-control:focus,
form .form-select:focus {
  background-color: transparent;
  border: 1px solid #C49769;
  box-shadow: none;
}


.aboutus-img {
  border: 5px solid #fff;
  transition: all ease 0.4s;
}

.aboutus-img.img-1 {
  width: 50%;
  display: block;
  position: relative;
  z-index: 1;
  margin-left: auto;
}

.aboutus-img.img-2 {
  width: 60%;
  position: absolute;
  top: -10%;
  z-index: 2;
}

.aboutus-img.img-3 {
  width: 60%;
  position: absolute;
  bottom: -10%;
  z-index: 0;
}

.aboutus-img:hover {
  scale: 1.1;
}

.card.testimonial-card {
  padding: 20px;
  border: transparent;
}

.card.testimonial-card .card-title,
.card.testimonial-card .card-text {
  transition: all ease 0.8s;
}

.card.testimonial-card::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 2%;
  background-color: #C49769;
  left: 0;
  top: 0;
  z-index: 0;
  transition: all ease 0.8s;
}

.card.testimonial-card::before:hover {
  width: 100%;
}

.card.testimonial-card::after {
  content: "❞";
  position: absolute;
  top: 0px;
  right: 10px;
  font-size: 50px;
  color: #623C27;
  opacity: 0.5;
  z-index: 1;
}

.card.testimonial-card:hover .card-title,
.card.testimonial-card:hover .card-text {
  color: #f6ecdf !important;
}

.card.testimonial-card:hover::before {
  width: 100%;
}